# {{ ansible_managed }}
global:
  scrape_interval: 1m

scrape_configs:
  - job_name: blackbox
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets:
      {% for target in prometheus_blackbox_http_checks %}
        - {{ target }}
      {% endfor %}
    
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox:9115 # blackbox exporter's real host/port
  - job_name: ping
    metrics_path: /metrics
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: ping:9427 # blackbox exporter's real host/port
  - job_name: node
    scrape_interval: 15s
    static_configs:
      - targets:
        - venus:9100
        - earth:9100
        - olympus:9100
  - job_name: speedtest
    metrics_path: /probe
    params:
     script: [speedtest]
    static_configs:
      - targets:
        - speedtest:9469
    scrape_interval: 60m
    scrape_timeout: 90s